* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #2a2a2a;
}
.page1 {
  height: 100vh;
  background-color: white;
}
.page2 {
  height: 100vh;
  background-color: #2a2a2a;
}
.page3 {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: whitesmoke;
}
.navbar {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
a {
  text-decoration: none;
  color: #6f3338;
  font-size: 20px;
}
li {
  list-style-type: none;
}
ul {
  padding: 20px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#cart {
  height: 25px;
  width: 25px;
}

.product {
  padding: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.description {
  height: 70vh;
  width: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shoeImg {
  height: 70vh;
  width: 70vh;
}
#shoes {
  height: 100%;
  width: 100%;
}

.title {
  margin-top: 100px;
}

.title h1 {
  font-style: normal;
  font-size: 64px;
  line-height: 105px;
  color: #6f3338;
}
.title p {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 59px;
  margin-bottom: 40px;
  color: #6f3338;
}

.shopNow {
  width: 170px;
  height: 50px;
  margin-right: 20px;
  background-color: #6f3338;
  color: white;
  font-size: 16px;
}
#learnMore {
  width: 170px;
  height: 50px;
  border-color: #6f3338;
  border-width: 3px;
  color: #6f3338;
  font-size: 16px;
}
.title2 {
  margin-top: 50px;
}

.title2 h1 {
  font-style: normal;
  font-size: 64px;
  line-height: 105px;
  color: whitesmoke;
  margin-bottom: 30px;
}
.title2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

.contact {
  padding: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title3 {
  height: 70vh;
  width: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title3 p {
  font-size: 80px;
  color: #b6666c;
}
.form {
  height: 70vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 40px;
  background-color: #2a2a2a;
}
.form p {
  font-size: 20px;
}
#form {
  width: 50%;
  margin-bottom: 30px;
  margin-top: 50px;
}
input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  background-color: #2a2a2a;
  border-color: rgb(180, 146, 146);
  border-width: 3px;
}
#form p {
  color: rgb(209, 148, 148);
}

#input1 {
  height: 100px;
}
